<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card style="background-color: rgb(166, 244, 218);">
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/550x/76/21/63/7621632177f49101e2c6820e67a14cab.jpg" />
    <ion-card-header>
      <ion-card-title>Trajeta</ion-card-title>
      <ion-card-subtitle>Empleo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Aqui se presenta su tarjeta de identificacion de empleo
    </ion-card-content>
  </ion-card>

<br>
<br>
<br>

  <ion-card style="background-color: rgb(210, 127, 255);">
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/originals/cd/a4/91/cda491c295aaa5cf2712c897fa61b7a2.jpg" />
    <ion-card-header>
      <ion-card-title>Trajeta</ion-card-title>
      <ion-card-subtitle>Empleo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Aqui se presenta su tarjeta de identificacion de empleo
    </ion-card-content>
  </ion-card>

<br>
<br>
<br>

  <ion-card style="background-color: aquamarine;">
    <img alt="Silhouette of mountains" src="https://i.pinimg.com/originals/a5/78/34/a578345bfa4f90c23da5646d43aa1f8e.png" />
    <ion-card-header>
      <ion-card-title>Trajeta</ion-card-title>
      <ion-card-subtitle>Empleo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Aqui se presenta su tarjeta de identificacion de empleo
    </ion-card-content>
  </ion-card>

<br>
<br>
<br>
</ion-content>
